.row {
    margin-left: 4%;
    margin-top: 2%;
    margin-bottom: 0;
}

#row {
    padding: 0 !important;
}

#interaction-history-segment{
    margin-left: 4%;
    margin-right: 1%;
    width: 100%;
}

#define-segment {
    padding: 0 !important;
}

#segment-size {
    padding: 0 !important;
}

#interaction-history-segment {
    padding: 0 !important;
}

#technology-row {
    padding: 0 !important;
    margin-top: 0;
}

#new-condition-row {
    padding: 0 !important;
    margin-top: 0;
}