#product-interaction-master-row {
    margin: unset;
    padding: unset;
}

#product-interaction-master-row .row {
    margin: unset;
}

#product-interaction-master-row #header {
    margin-left: -1.5%;
    margin-top: 1%;
    margin-bottom: 2%;
    color: rgb(88, 88, 88);

}

#dropdown-row #header {
    margin-left: -20%;
}