#segment-size {
    height: 100%;
}

#segment-size #header {
    margin: 4%;
    color: rgb(88, 88, 88);
    fontFamily: IBM Plex Sans !important;
}

#segment-size p {
    margin: 4%;
    color: rgb(88, 88, 88);
    fontFamily: IBM Plex Sans !important;
}

#segment-size #progress {
    margin: 3%;
}


.ui.green.progress .bar {
    background-color: rgb(38, 165, 132) !important;
}