#time-of-interaction-master-row {
    margin: unset;
    padding: unset;
}

#time-of-interaction-master-row .row {
    margin: unset;
}

#time-of-interaction-master-row {
    margin-left: -1.5%;
    margin-top: 1%;
    margin-bottom: 2%;
}

#time-of-interaction-master-row #header {
    margin-top: 2%;
    color: rgb(88, 88, 88);
}